*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Hind Vadodara", sans-serif;
  scroll-behavior: smooth;
}
input,
input:focus{
  border: none;
  outline: none;
}
