@import "./variables";
@import "./fonts";
@import "./mixins";
@import "./basics";
@import "./components/header";
@import "./components/hero";
@import "./components/swiper_prostatit";
@import "./components/swip";
@import "./components/formtablet";
@import "./components/tablet_order";
@import "./components/cure";
@import "./components/davolash";
@import "./components/composition";
@import "./components/power";
@import "./components/weak";
@import "./components/effect";
@import "./components/orderEndOf";
@import "./components/profi";
@import "./components/otvis";
@import "./components/product";
@import "./components/footer";
@import "./components/newFormModal";
@import "./components/newForm";
@import "./components/door";
