.composition {
  margin-top: 60px;
  background-image: url(../images/bg_composition.png);
  background-size: cover;
  padding-bottom: 131px;

  @include tablet() {
    background-position: center;
  }
  @include mobile() {
    background-position: center;
  padding-bottom: 110px;

  }
}

.composition_title {
  h3 {
    padding: 22px 50px;
    background-color: black;
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 45px;
    margin-top: 90px;
    border-radius: 100px;
    @include tablet() {
      font-size: 35px;
    }
    @include mobile() {
      font-size: 20px;
      padding: 15px 15px;
      margin-top: 150px;
    }

    span {
      color: red;
    }
  }
}

.composition_image {
  transform: scale(1.4);

  @include tablet() {
    transform: scale(1);
  }
  @include mobile() {
    transform: scale(1);
    width: 100%;
  }
}

.composition_items {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile() {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.composition_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 325px;
  background: linear-gradient(#ff0000b8, transparent);
  border-radius: 10px;
  gap: 30px;
  box-shadow: 5px 5px 10px black;
  padding: 20px;

  @include tablet() {
    max-width: 230px;

    img {
      width: 200px;
    }
  }
  @include mobile() {
    max-width: 230px;

    img {
      width: 200px;
    }
  }
  p {
    padding: 7px 20px;
    color: white;
    font-size: 29px;
    font-weight: 700;
    background-color: #6c6c6c;
    border-radius: 100px;
    @include tablet() {
      font-size: 16px;
    }
    @include mobile() {
      font-size: 16px;
    }
  }
}

.composition_info {
  margin-top: 60px;
  padding: 55px;
  background: linear-gradient(#d9d9d9, transparent);
  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 200px;

  @include tablet() {
    padding: 30px;
    padding-left: 50px;
  }
  @include mobile() {
    padding: 15px;
    padding-left: 15px;
    border-radius: 15px;
    margin-bottom: 0;
  }

  p {
    margin-top: 100px;
    color: white;
    font-weight: 700;
    font-size: 20px;

    @include tablet() {
      color: black;
    }

    @include mobile() {
      color: black;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}

.item_title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 35px;
  color: #ff0000;

  @include tablet() {
    margin-bottom: 10px;
  }
  @include mobile() {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.item_info {
  font-weight: 700;
  font-size: 35px;

  @include tablet() {
    font-size: 30px;
    margin-bottom: 10px;
  }
  @include mobile() {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.item_title:nth-child(n + 2) {
  margin-top: 50px;

  @include tablet() {
    margin-top: 20px;
    font-size: 35px;
  }
  @include mobile() {
    margin-top: 20px;
    font-size: 20px;
  }
}
