// .cure{

// }
.cure_head {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
  //?
  display: none;

  @include tablet() {
    margin-bottom: 40px;
  }
  @include mobile() {
    margin-bottom: 20px;
  }

  h2 {
    padding: 20px 40px;
    display: inline-block;
    background-color: black;
    border-radius: 400px;
    color: white;
    font-size: 40px;

    @include tablet() {
      font-size: 30px;
      text-align: center;
      padding: 15px 30px;
    }
    @include mobile() {
      font-size: 20px;
      text-align: center;
      padding: 15px 30px;
    }
    span {
      color: red;
    }
  }

  h3 {
    text-align: center;
    max-width: 959px;
    font-size: 40px;
    display: inline-block;

    @include tablet() {
      font-size: 30px;
    }
    @include mobile() {
      font-size: 20px;
    }
    span {
      color: red;
    }
  }
}

.cure_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  //?
  display: none;

  @include tablet() {
    justify-content: center;
    gap: 20px;
  }
  @include mobile() {
    justify-content: center;
    row-gap: 40px;
  }
}

.cure_card {
  max-width: 419px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    border-radius: 10px;
    width: 100%;
  }
  span {
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 20px;
  }
}
