.footer {
  padding-top: 60px;
  border-radius: 0 180px 0 0;
  background: #002132;

  @include mobile() {
    padding-top: 40px;
    border-top-right-radius: 100px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;

    @include media(0px, 1045px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .left {
      margin: 0px 0 81px 0;
      @include media(0px, 1045px) {
        margin-bottom: 0px;
      }

      .title {
        letter-spacing: 1%;
        font-size: 36px;
        color: #ffff;

        @include tablet() {
          text-align: center;
        }
        @include mobile() {
          text-align: center;
          font-size: 20px;
        }
      }

      .day {
        text-align: center;
        background: #ff0000;
        color: #ffff;
        font-family: Hind Vadodara;
        font-size: 20px;
        font-weight: 700;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      .box {
        background: #fff;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 30px;
          font-weight: 700;
          font-family: Hind Vadodara;
          color: #000;
        }

        .narx {
          font-size: 30px;
          font-weight: 700;
          font-family: Hind Vadodara;
          color: #fff;
          padding: 0 25px;
          background: #6c6c6c;
          border-radius: 50px;
        }

        .dic {
          font-size: 30px;
          font-weight: 700;
          font-family: Hind Vadodara;
          color: #fff;
          padding: 0 20px;
          background: #57c401;
          border-radius: 50px;
        }

        span {
          font-size: 20px;
          font-weight: 700;
          font-family: Hind Vadodara;
          color: #ff0000;
        }
        p {
          margin: 10px 0;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 450px;

      @include mobile() {
        height: 350px;
      }
      .title-right {
        // margin-top: 50px;
        font-size: 40px;
        font-weight: 800;
        color: #fff;

        @include tablet() {
          text-align: center;
        }
        @include mobile() {
          text-align: center;
          font-size: 25px;
        }
      }

      .form {
        margin: 48px 0 0px;
        @include mobile() {
          margin-top: 20px;
        }
        .inp {
          margin-right: 35px;
          padding: 15px 80px 15px 23px;
          @include mobile() {
            width: 100%;
            margin-right: 0;
          }
        }

        .input {
          padding: 15px 80px 15px 23px;
          @include mobile() {
            width: 100%;
          }
        }

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 254px;
          color: #fff;
          font-weight: 700;
          font-size: 30px;
          padding: 10px 50px;
          background-color: #331b3b;
          text-transform: uppercase;
          border-radius: 10px;
          box-shadow: 5px 5px 10px #000;
          transform: scale(1);
          transition: all 0.4s ease;

          @include tablet() {
            text-align: center;
            font-size: 20px;
          }

          @include mobile() {
            text-align: center;
            font-size: 20px;
          }

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.form_input {
  @include mobile() {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.btn-gruop-right {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include mobile() {
    margin-top: 10px;
  }

  .btn {
    border: none;
  }

  img {
    width: 80px;
    transition: all 0.3s ease;
  }
}

.succes {
  transition: all 0.3s ease;
  animation: succes 1s;
}

@keyframes succes {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
