.otvis {
  position: relative;
  background-color: #c401018e;
  border-top-left-radius: 400px;
  margin: 100px 0 166px;

  @include tablet() {
    background: transparent;
  }
  @include mobile() {
    background: transparent;
  }
}

.otvis_title {
  margin: 18px 0 59px;
  display: flex;
  justify-content: center;

  @include mobile() {
    margin-bottom: 40px;
  }
  h2 {
    position: relative;
    max-width: 459px;
    color: rgb(51, 27, 59);
    font-size: 48px;
    font-weight: 300;
    line-height: 110.8%;
    text-align: center;
    @include mobile() {
      margin-top: 40px;
      font-size: 42px;
    }
    &::after {
      position: absolute;
      content: "";
      left: 148px;
      bottom: -15px;
      width: 120px;
      height: 11px;
      background-color: rgb(253, 192, 33);
      @include tablet() {
        left: 164px;
        bottom: -15px;
      }
      @include mobile() {
        display: none;
      }
    }
    span {
      font-weight: 700;
    }
  }
}
.otvis_card {
  max-width: 448px;
  background: white;
  padding: 18px 32px 39px;
  height: 363px;
  display: flex;
  flex-direction: column;

  @include media(0px, 1024px) {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.137);
    border: 1px solid rgba(128, 128, 128, 0.201);
    max-width: 500px;
  }
  @include mobile() {
    padding: 18px 20px 39px;
    justify-content: center;
  }
}

.otvis_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.otvis_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  p {
    margin-top: 13px;
    color: rgb(51, 27, 59);
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    @include tablet() {
      font-size: 15px;
    }
    @include mobile() {
      font-size: 14px;
    }
  }

  span {
    margin-left: 19px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 159.3%;
    text-align: left;
    p {
      position: absolute;
      width: 13px;
      height: 3px;
      background-color: rgb(253, 194, 33);
      left: -18px;
      top: -2px;
    }
  }
}

.wiper_otvis {
  width: 65vw;
  padding-bottom: 18px;

  @include tablet() {
    position: absolute;
    width: 98%;
    right: 0;
  }
  @include mobile() {
    position: absolute;
    width: 98%;
    right: 0;
  }
}

.swiper-button-disabled {
  opacity: 0.3;
}

.swiper-next,
.swiper-prev {
  width: 57px;
  height: 57px;

  border: 1px solid black;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile() {
    width: 38px;
    height: 38px;
  }
}

.swiper__btns {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 25px;
}
