.profi {
  background: #002132;
  padding: 60px 0 97px 0;
  border-top-right-radius: 400px;
  margin-top: 60px;
  @include tablet() {
    background-color: #ecf7ff;
    border-top-right-radius: 100px;
  }
  @include mobile() {
    background-color: #ecf7ff;
    border-top-right-radius: 100px;
  }
}

.profi_main_title {
  margin-top: 54px;
  font-weight: 700;
  font-size: 24px;
  display: none;
  @include mobile() {
    display: block;
    font-size: 18px;
  }
  @include tablet() {
    display: block;
  }
}
.profi_title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 48px;
  color: white;
  @include mobile() {
    font-size: 30px;
    color: black;
  }

  @include tablet() {
    font-size: 40px;
    color: black;
  }

  &::after {
    position: absolute;
    content: "";
    left: 159px;
    bottom: -15px;
    width: 159px;
    height: 15px;
    background-color: #fdc221;

    @include mobile() {
      left: 85px;
      bottom: -10px;
      width: 119px;
      height: 9px;
    }

    @include tablet() {
      left: 136px;
      bottom: -10px;
      width: 119px;
      height: 9px;
    }
  }
}

.profi_items {
  display: flex;
  justify-content: space-between;
  max-width: 797px;
  margin: 0 auto;
  margin-top: 45px;
  @include tablet() {
    max-width: 734px;
  }
  @include mobile() {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}

.profi_card {
  padding: 26px;
  max-width: 319px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  p {
    color: #331b3b;
    opacity: 0.6;
    a {
      color: #331b3b;
      text-decoration: underline;
      text-underline-position: auto;
    }
  }
}

.profi_name {
  color: black;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: auto;
}
//? profi text
.profi_text {
  margin: 100px auto 0;
  max-width: 977px;
  background: linear-gradient(#d9d9d9, #002132c8);
  padding: 16px 30px;
  border-radius: 100px;
  padding-bottom: 30px;

  @include mobile() {
    padding: 20px;
    border-radius: 15px;
  }
  p {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    @include tablet() {
      font-size: 20px;
    }
    @include mobile() {
      font-size: 20px;
    }
  }
}

.profi_text_title {
  display: flex;
  justify-content: center;
  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    max-width: 762px;
    margin-bottom: 10px;
    
    @include tablet() {
      font-size: 25px;
    }
    @include mobile() {
      font-size: 22px;
    }
    span {
      color: #ff0000;
    }
  }
}
