.product {
  @include tablet() {
    padding-top: 400px;
  }
  @include mobile() {
    padding-top: 400px;
  }
}

.product_wrapper {
  background: rgb(0, 33, 50);
  padding: 20px;
}

.product_title {
  display: flex;
  justify-content: flex-end;
  h3 {
    color: rgb(255, 255, 255);
    font-size: 44px;
    font-weight: 700;
    text-align: left;

    @include tablet() {
      text-align: center;
    }
    @include mobile() {
      text-align: center;
      font-size: 25px;
    }
  }
}

.product_items {
  display: flex;
  justify-content: space-between;

  @include tablet() {
    flex-direction: column;
    align-items: center;
  }
  @include mobile() {
    flex-direction: column;
    align-items: center;
  }
}

.product_image {
  width: 400px;
  @include mobile() {
    width: 80vw
  }
  img {
    width: 500px;
    object-fit: cover;
    object-position: center;
    transform: translateX(-100px);
    height: 400px;
    @include mobile() {
      width: 80vw;
      transform: translateX(0);
      height: auto;
    }
  }
}

.product_info {
  p {
    margin-top: 50px;
    max-width: 821px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 146.3%;
    text-align: left;
    text-transform: uppercase;

    @include mobile() {
      margin-top: 0;
      font-size: 19px;
      text-align: center;
      margin-top: -40px;
    }
  }
}

//?------------------working----------------
.working_title {
  margin: 134px 0 158px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 700;
  line-height: 106.3%;
  text-align: center;
  background: #000;
  padding: 20px;
  border-radius: 400px;

  @include tablet() {
    font-size: 35px;
  }
  @include mobile() {
    font-size: 20px;
    padding: 15px 15px;
    margin: 40px 15px 40px 15px;
  }
}

.working_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 235px;
  @include media(0px, 1024px){
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

.working_card {
  padding: 30px 22px;
  max-width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px 15px 9px 0px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  
  img {
    margin-bottom: 19px;
  }
  p {
    color: rgb(51, 27, 59);
    font-size: 24px;
    font-weight: 700;
    line-height: 137.3%;
    text-align: center;
    text-transform: uppercase;
  }
}
